<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miracle.coordifit.clothes.repository.ClothesRepository">

  <select id="getNextClothesSequence" resultType="int">
    SELECT NVL(MAX(TO_NUMBER(SUBSTR(clothes_id, 8))), 0) + 1
    FROM clothes
    WHERE SUBSTR(clothes_id, 2, 6) = TO_CHAR(SYSDATE, 'YYMMDD')
  </select>

  <insert id="insertClothes" parameterType="com.miracle.coordifit.clothes.model.Clothes">
    INSERT INTO clothes (
      clothes_id, 
      user_id, 
      name, 
      brand, 
      category_code,

      clothes_size, 
      price, 
      purchase_date,
      <if test="purchaseUrl != null">purchase_url,</if>
      <if test="description != null">description,</if>

      wear_count, 
      is_active, 
      created_at, 
      created_by
    ) VALUES (
      #{clothesId}, 
      #{userId}, 
      #{name}, 
      #{brand}, 
      #{categoryCode},

      #{clothesSize}, 
      #{price}, 
      #{purchaseDate},
      <if test="purchaseUrl != null">#{purchaseUrl},</if>
      <if test="description != null">#{description},</if>
      
      0, 
      #{isActive}, 
      CURRENT_TIMESTAMP, 
      #{createdBy}
    )
  </insert>

  <insert id="insertClothesImage" parameterType="com.miracle.coordifit.clothes.model.ClothesImage">
    INSERT INTO clothes_images (
      clothes_id, file_id, created_at, created_by
    ) VALUES (
      #{clothesId}, #{fileId}, CURRENT_TIMESTAMP, #{createdBy}
    )
  </insert>

  <select id="selectUserClothes" parameterType="string" resultType="com.miracle.coordifit.clothes.dto.ClothesResponse">
    SELECT 
      c.clothes_id AS clothesId,
      c.name AS name,
      c.brand AS brand,
      c.price AS price,
      c.category_code AS categoryCode,
      c.purchase_date AS purchaseDate,
      c.wear_count AS wearCount,
      c.last_worn_date as lastWornDate,
      i.s3_url AS imageUrl
    FROM clothes c
    INNER JOIN (
      SELECT
        ci.clothes_id,
        f.s3_url,
        ROW_NUMBER() OVER (PARTITION BY ci.clothes_id ORDER BY ci.created_at) AS rowrum
      FROM clothes_images ci
      INNER JOIN file_info f ON ci.file_id = f.file_id
    ) i ON c.clothes_id = i.clothes_id AND i.rowrum = 1
    WHERE c.user_id = #{userId}
    AND c.is_active = 'Y'
    ORDER BY c.created_at DESC
  </select>

  <select id="selectClothesById" resultType="com.miracle.coordifit.clothes.dto.ClothesDetailResponse">
    SELECT 
      clothes_id as clothesId,
      name,
      brand,
      category_code as categoryCode,
      clothes_size as clothesSize,
      price,
      purchase_date as purchaseDate,
      purchase_url as purchaseUrl,
      description,
      wear_count as wearCount,
      last_worn_date as lastWornDate      
    FROM clothes
    WHERE clothes_id = #{clothesId}
    AND user_id = #{userId}
    AND is_active = 'Y'
  </select>

  <select id="selectClothesImage" resultType="com.miracle.coordifit.clothes.dto.ClothesDetailResponse$ClothesImage">
    SELECT 
      ci.file_id AS fileId,
      f.s3_url AS url
    FROM clothes_images ci
    INNER JOIN file_info f ON ci.file_id = f.file_id
    WHERE ci.clothes_id = #{clothesId}
    ORDER BY ci.created_at
  </select>

  <delete id="deleteClothesImage">
    DELETE FROM clothes_images
    WHERE clothes_id = #{clothesId}
    AND file_id = #{fileId}
  </delete>

  <update id="updateClothes" parameterType="com.miracle.coordifit.clothes.model.Clothes">
    UPDATE clothes
    SET 
      name = #{name},
      brand = #{brand},
      category_code = #{categoryCode},
      clothes_size = #{clothesSize},
      price = #{price},
      purchase_date = #{purchaseDate},
      <if test="purchaseUrl != null">purchase_url = #{purchaseUrl},</if>
      <if test="description != null">description = #{description},</if>
      updated_at = CURRENT_TIMESTAMP,
      updated_by = #{updatedBy}
    WHERE clothes_id = #{clothesId}
  </update>

  <update id="deleteClothes" parameterType="com.miracle.coordifit.clothes.model.Clothes">
    UPDATE clothes
    SET 
      is_active = 'N',
      updated_at = CURRENT_TIMESTAMP,
      updated_by = #{updatedBy}
    WHERE clothes_id = #{clothesId}
  </update>

  <update id="increaseWearCountByClothesId" parameterType="com.miracle.coordifit.calender.model.DailyLookItem">
    UPDATE clothes
    SET 
      wear_count = wear_count + 1,
      updated_at = CURRENT_TIMESTAMP,
      updated_by = #{userId}
    WHERE clothes_id = #{clothesId}
  </update>

  <update id="decreaseWearCountByClothesIds" parameterType="string">
    UPDATE clothes
    SET 
      wear_count = wear_count - 1,
      updated_at = CURRENT_TIMESTAMP,
      updated_by = #{userId}
    WHERE clothes_id IN (
      SELECT clothes_id 
      FROM dailylook_items 
      WHERE dailylook_id = #{dailylookId}
    )
  </update>

  <update id="updateLastWornDateByClothesId" parameterType="com.miracle.coordifit.calender.model.DailyLookItem">
    UPDATE clothes
    SET 
      last_worn_date = (
        SELECT MAX(wear_date) 
        FROM dailylook_items 
        WHERE clothes_id = #{clothesId}
        AND TRUNC(wear_date) <![CDATA[<]]> TRUNC(SYSDATE + 1)
      ),
      updated_at = CURRENT_TIMESTAMP,
      updated_by = #{userId}
    WHERE clothes_id = #{clothesId}
  </update>

  <update id="updateLastWornDateByDailylookId" parameterType="string">
    UPDATE clothes
    SET last_worn_date = (
        SELECT MAX(di.wear_date)
        FROM dailylook_items di
        INNER JOIN dailylooks d ON di.dailylook_id = d.dailylook_id
        WHERE di.clothes_id = clothes.clothes_id        
        AND di.dailylook_id != #{dailylookId}
        AND d.is_active = 'Y'
        AND TRUNC(di.wear_date) <![CDATA[<]]> TRUNC(SYSDATE + 1)
      ), 
      updated_at = CURRENT_TIMESTAMP,
      updated_by = #{userId}
    WHERE clothes_id IN (
          SELECT clothes_id
          FROM dailylook_items
          WHERE dailylook_id = #{dailylookId}
    )
  </update>


</mapper>