<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miracle.coordifit.user.repository.UserRepository">

    <insert id="insertUser" parameterType="com.miracle.coordifit.user.model.User">
        INSERT INTO users (
            user_id, 
            email, 
            <if test="password != null">password,</if>
            nickname, 
            <if test="kakaoId != null">kakao_id,</if>
            login_type_code, 
            is_active, 
            created_at, 
            created_by
        ) VALUES (
            #{userId}, 
            #{email}, 
            <if test="password != null">#{password},</if>
            #{nickname}, 
            <if test="kakaoId != null">#{kakaoId},</if>
            #{loginTypeCode},
            #{isActive}, 
            CURRENT_TIMESTAMP, 
            #{createdBy}
        )
    </insert>

    <select id="selectUser" resultType="com.miracle.coordifit.user.model.User">
        SELECT 
            user_id             AS userId,
            email,
            password,
            nickname,
            file_id             AS fileId,

            login_type_code     AS loginTypeCode,
            kakao_id            AS kakaoId,
            gender_code         AS genderCode,
            birth_date          AS birthDate,
            is_active           AS isActive,

            created_at          AS createdAt,
            created_by          AS createdBy,
            updated_at          AS updatedAt,
            updated_by          AS updatedBy,
            logined_at          AS loginedAt
        FROM users 
        <where>
            <if test="email != null">
                AND email = #{email}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="nickname != null">
                AND nickname = #{nickname}
                AND is_active = 'Y'
            </if>
            <if test="kakaoId != null">
                AND kakao_id = #{kakaoId}
            </if>
        </where>
    </select>

    <select id="getNextUserSequence" resultType="int">
        SELECT NVL(MAX(TO_NUMBER(SUBSTR(user_id, 2))), 0) + 1 AS NEXT_SEQ
        FROM users
    </select>

    <update id="updateUser" parameterType="com.miracle.coordifit.user.model.User">
        UPDATE users 
        <set>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="genderCode != null">
                gender_code = #{genderCode},
            </if>
            <if test="birthDate != null">
                birth_date = #{birthDate},
            </if>
            <if test="kakaoId != null">
                kakao_id = #{kakaoId},
            </if>
            <if test="isActive != null">
                is_active = #{isActive},
            </if>
            <if test="fileId != null">
                file_id = #{fileId},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="loginedAt != null">
                logined_at = #{loginedAt},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy},
            </if>
            updated_at = CURRENT_TIMESTAMP
        </set>
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="email != null">
                AND email = #{email}
            </if>
        </where>
    </update>

    <select id="getMyPageInfo" parameterType="String" resultType="com.miracle.coordifit.user.dto.MyPageResponseDto">
        SELECT 
            u.user_id AS userId,
            u.nickname,
            u.email,
            f.s3_url AS profileImageUrl,
            (SELECT COUNT(*) FROM follows WHERE following_id = #{userId}) AS followersCount,
            (SELECT COUNT(*) FROM follows WHERE follower_id = #{userId}) AS followingsCount
        FROM users u
        LEFT OUTER JOIN file_info f ON u.file_id = f.file_id
        WHERE u.user_id = #{userId} AND u.is_active = 'Y'
    </select>

</mapper>
