<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miracle.coordifit.coordi.repository.CoordiRepository">
    <select id="getAllCoordisByUser" parameterType="string" resultType="com.miracle.coordifit.coordi.model.Coordi">
        SELECT 
            coordi_id AS coordiId,
            user_id AS userId,
            coordi_name AS coordiName,
            description AS description,
            file_id AS fileId,
            ai_file_id AS aiFileId,
            canvas_json AS canvasJson
        FROM coordis
        WHERE user_id = #{userId} 
        AND is_active = 'Y'
        AND NOT EXISTS (
            SELECT 1 
            FROM coordi_items ci
            INNER JOIN clothes c ON ci.clothes_id = c.clothes_id
            WHERE ci.coordi_id = coordis.coordi_id
            AND c.is_active = 'N'
        )
        ORDER BY created_at DESC
    </select>
    
    <select id="getCoordiById" parameterType="string" resultType="com.miracle.coordifit.coordi.model.Coordi">
        SELECT 
            coordi_id AS coordiId,
            user_id AS userId,
            coordi_name AS coordiName,
            description AS description,
            file_id AS fileId,
            ai_file_id AS aiFileId,
            canvas_json AS canvasJson
        FROM coordis WHERE coordi_id = #{coordiId}
    </select>

    <insert id="insertCoordi" parameterType="com.miracle.coordifit.coordi.model.Coordi">
        INSERT INTO coordis (
            coordi_id, user_id, coordi_name, description, file_id, canvas_json, is_active, created_by, updated_by
        ) VALUES (
            #{coordiId}, #{userId}, #{coordiName}, #{description}, #{fileId}, #{canvasJson}, 'Y', #{userId}, #{userId}
        )
    </insert>

    <insert id="insertCoordiItem" parameterType="com.miracle.coordifit.coordi.model.CoordiItem">
        INSERT INTO COORDI_ITEMS (
            coordi_id, clothes_id, created_at, created_by
        ) VALUES (
           #{coordiId}, #{clothesId}, SYSTIMESTAMP, #{userId}
        )
    </insert>
    
    <select id="getNextCoordiSequence" resultType="int">
        SELECT NVL(MAX(TO_NUMBER(SUBSTR(coordi_id, 8))), 0) + 1
        FROM coordis
        WHERE SUBSTR(coordi_id, 2, 6) = TO_CHAR(SYSDATE, 'YYMMDD')
    </select>

    <update id="updateCoordiById" parameterType="com.miracle.coordifit.coordi.model.Coordi">
        UPDATE coordis
        SET
            coordi_name   = #{coordiName},
            description = #{description},
            file_id     = #{fileId},
            canvas_json = #{canvasJson},
            updated_by   = #{userId},
            updated_at   = SYSTIMESTAMP
        WHERE coordi_id = #{coordiId}
    </update>

    <delete id="deleteCoordiItemsByCoordiId" parameterType="String">
        delete from coordi_items WHERE coordi_id = #{coordiId}
    </delete>

    <update id="updateAiFileId">
        UPDATE coordis
        SET ai_file_id = #{aiFileId},
            updated_by = #{updatedBy},
            updated_at = SYSTIMESTAMP
        WHERE coordi_id = #{coordiId}
    </update>

    <update id="deleteCoordiById" parameterType="string">
        UPDATE coordis
        SET is_active = 'N',
            updated_at = SYSTIMESTAMP,
            updated_by = #{userId}
        WHERE coordi_id = #{coordiId}
    </update>
</mapper>
